.ltr {
    text-align: left;
}

.rtl {
    text-align: right;
}

.paragraph {
    font-size: 1em;
    display: block;
    position: relative;
    margin: 1em 0;
}

.h1 {
    font-size: 2em;
    display: block;
    margin: 0.67em 0;
    font-weight: bold;
}

.h2 {
    font-size: 1.5em;
    display: block;
    margin: 0.83em 0;
    font-weight: bold;
}

.h3 {
    font-size: 1.17em;
    display: block;
    margin: 1em 0;
    font-weight: bold;
}

.h4 {
    font-size: 1em;
    display: block;
    margin: 1.33em 0;
    font-weight: bold;
}

/* Text formatting */
.pen-format-bold {
    font-weight: bold;
}

.pen-format-italic {
    font-style: italic;
}

.pen-format-underline {
    text-decoration: underline;
}

.pen-format-strikethrough {
    text-decoration: line-through;
}

.pen-format-code {
    background-color: rgb(240, 242, 245);
    padding: 1px 0.25rem;
    font-family: Menlo, Consolas, Monaco, monospace; 
    font-size: 94%;
}